body {
  /* font-family: "Poppins", sans-serif; */
}

.container {
  max-width: 1186px;
  padding: 0 5px 0 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.box__left {
  position: absolute;
  left: -128px;
  top: -24px;
  width: 132px;
  height: 96px;
  background: #232f3e;
}

.box__left-img {
  margin-top: 30px;
  margin-left: 49px;
}

.form {
  width: 600px;
  height: 48px;
  background-color: #f6f6f6;
}

.form__select {
  width: 60px;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  background: rgba(242, 242, 242, 0.48);
  border: 0;
}

.form__input {
  background: rgba(242, 242, 242, 0.48);
  outline: none;
  padding-left: 20px;
  padding-right: 15px;
}

.form__img-search {
  position: absolute;
  top: 17px;
  left: 746px;
}

.form__hr {
  height: 30px;
  border: 1px solid #d4d6d8;
  margin-top: 9px;
  margin-left: 6px;
  background-color: #d4d6d8;
}

.header__spn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.header__box {
  width: 316px;
  justify-content: space-between;
}

.header__box-2 {
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
  align-items: center;
}

.header__img-sumka {
  margin-top: -4px;
}

.spn {
  width: 2px;
  height: 30px;
  border-right: 2px solid #d4d6d8;
}

.header__btn {
  width: 94px;
  height: 38px;
  left: 1214px;
  top: 35px;
  background: #232f3e;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.header__btn:hover {
  background: #ffffff;
  border: 2px solid #232f3e;
  color: #232f3e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}

.header__span-length {
  position: absolute;
  top: -5px;
}

.hero__box {
  height: 450px;
  background-color: #fafafa;
  padding-left: 70px;
  padding-right: 75px;
}

.hero__box-inner {
  width: 444px;
  height: 292px;
}

.hero__spn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ff9900;
}

.hero__heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}

.hero__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(35, 47, 62, 0.48);
}

.hero__btn {
  width: 150px;
  height: 35px;
  left: 0px;
  top: 260px;
  background: #146eb4;
  color: #f6f6f6;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s ease;
}

.hero__btn:hover {
  background: #ffffff;
  color: #146eb4;
  border: 2px solid #146eb4;
}

.hero__btn-2 {
  width: 150px;
  height: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #146eb4;
  border: none;
  border: 2px solid #146eb4;
  margin-left: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.hero__btn-2:hover {
  background: #146eb4;
  color: #ffffff;
  border: 2px solid #146eb4;
}

.hero__btn-left {
  position: absolute;
  top: 191px;
  left: -25px;
  background-color: #fff;
  border: none;
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(35, 47, 62, 0.08);
  border-radius: 30px;
}
.hero__btn-left-2 {
  position: absolute;
  top: -261px;
  left: 1151px;
  background-color: #fff;
  border: none;
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(35, 47, 62, 0.08);
  border-radius: 30px;
}

.category__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #146eb4;
}

.category__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-1 {
  width: 100px;
  height: 160px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 5px;
}

.card-1:hover {
  width: 100px;
  height: 160px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 2px;
  transform: scale(1.1);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #232f3e;
}

.footer__card {
  width: 290px;
  height: 350px;
  left: 132px;
  top: 992px;
  background: #fff;
  box-shadow: -6px 7px 17px 0px rgb(34 60 80 / 20%);
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.footer__card:hover {
  transform: scale(0.9);
}

.footer__btn {
  width: 125px;
  height: 40px;
  background: #146eb4;
  
  color: #fff;
  border: none;
  border-radius: 3px;
}

.footer__btn-2 {
  width: 125px;
  height: 40px;
  color: #146eb4;
  background: #ffffff;
  border: 2px solid #146eb4;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
}

.footer-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(35, 47, 62, 0.48);
}

.footer-card-text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  margin-top: 6px;
}

.footer-card-spn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #146eb4;
  margin-top: 6px;
}

.fot_box {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.foter__box {
  padding-top: 10px;
  margin-left: 10px;
}

.footer__card-5 {
  display: none;
}.footer__card-6 {
  display: none;
}.footer__card-7 {
  display: none;
}.footer__card-8 {
  display: none;
}.footer__card-9 {
  display: none;
}.footer__card-10 {
  display: none;
}.footer__card-11 {
  display: none;
}.footer__card-12 {
  display: none;
}.footer__card-13 {
  display: none;
}.footer__card-14 {
  display: none;
}.footer__card-15 {
  display: none;
}.footer__card-16 {
  display: none;
}

.box-10 {
  display: flex;
  transition: all 0.5s ease;
  transform: translateX(0);
}



.btn-like {
  background-color: #1d9bf0;
}.btn-like:hover {
  background-color: #1d85ca;
}